body {
    background-color: #121212 !important; 
    color: #e0e0e0;
}

h1, h2, h3, h4, h5, h6 {
    color: #ffffff;
}

a {
    color: #bb86fc;
}

a:hover {
    color: #d1b3ff;
}

.card {
    background-color: #1e1e1e;
    border: 1px solid #333;
}

.card-header {
    color: #ffffff;
    background-color: #333;
    border-bottom: 1px solid #444;
}

.bg-dark {
    background-color: #000000 !important;
}